@page
@model ToDoList.Pages.InboxModel
@{
}

<header>
    <div class="navbar">
          <div class="leftnavbar">
              <a asp-page="/Index">Priority</a>
              <a asp-page="/Inbox" class="chosen">Inbox</a>
              <a asp-page="/Inbox" asp-route-nav="1">Projects</a>
              <a asp-page="/Inbox" asp-route-nav="2">Categories</a>
              @*<a>Calendar</a>*@
          </div>
          <div class="rightnavbar">
            @if (Model.wantProjects)
            {
                <div class="columnname">
                    <span>Projects</span>
                </div>
                @foreach (var item in Model.ProjectsList)
                {
                    <a asp-page="/Project" asp-route-id="@item.Id">@item.ProjectName</a>
                }
            }
            @if (Model.wantCategories)
            {
              <div class="columnname">
                  <span>Categories</span>
              </div>
              @foreach (var item in Model.CategoriesList)
                {
                    <a asp-page="/Category" asp-route-id="@item.Id">@item.CategoryName</a>
                }
            }
          </div>
    </div>
</header>

<div>
    <h1>All Tasks</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].WhenToDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].IsUrgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InboxList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
                @*<p>@item.TaskName</p>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenToDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUrgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
</tbody>
</table>
</div>