@page
@model ToDoList.Pages.InboxModel
@{
}

<div>
    <h1>All Tasks</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].When)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].IsUrgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InboxList[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InboxList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
                @*<p>@item.TaskName</p>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.When)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUrgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
</tbody>
</table>
</div>