@page
@model ToDoList.Pages.IndexModel
@*@{
    ViewData["Title"] = "Nozbe 2";
}
<h1>@ViewData["Title"]</h1>

@if(Model.hasData)
{
    <p>Twój waśnie wpisany task to:</p>
    <p>* @Model.taskName</p>
}*@

@*<div>
    <form method="post">
        <label for="task">Add task</label><br>
        <input type="text" id="taskn" name="taskname"><br>

        <input type="submit" value="Submit">
    </form>
</div><br><br>*@
<header>
    <div class="navbar">
          <div class="leftnavbar">
              <a asp-page="/Index" class="chosen">Priority</a>
              <a asp-page="/Inbox">Inbox</a>
              <a asp-page="/Index" asp-route-nav="1">Projects</a>
              <a asp-page="/Index" asp-route-nav="2">Categories</a>
              @*<a>Calendar</a>*@
          </div>
          <div class="rightnavbar">
            @if (Model.wantProjects)
            {
                <div class="columnname">
                    <span>Projects</span>
                </div>
                @foreach (var item in Model.ProjectsList)
                {
                    <a>@item.ProjectName</a>
                }
            }
            @if (Model.wantCategories)
            {
              <div class="columnname">
                  <span>Categories</span>
              </div>
              @foreach (var item in Model.CategoriesList)
                {
                    <a>@item.CategoryName</a>
                }
            }
          </div>
    </div>
</header>



<div class="bigwindow">
<div class="mainlist">
    <div class="listline">
        <div class="columnname">
              <span>Priority</span>
        </div>
    </div>


    <h1>---------</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriorityList[0].TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityList[0].WhenToDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityList[0].IsUrgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityList[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PriorityList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
                @*<p>@item.TaskName</p>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenToDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUrgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
</tbody>
</table>
</div>

</div>
@*<div>
    <h1>All Projects</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectsList[0].ProjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProjectsList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
        </tr>
}
</tbody>
</table>
</div>
<br><br>

<div>
    <h1>All Categories</h1>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriesList[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CategoriesList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
*@
