@page
@model ToDoList.Pages.IndexModel
@{
    ViewData["Title"] = "Details";
    bool navc = false;
    bool navp = false;

    //void showRightNavP()
    //{
    //    navp = true;
    //    navc = false;
    //}
}

<header>
    <div class="navbar">
          <div class="leftnavbar @((Model.wantProjects || Model.wantCategories)? "minnav" : "")">
              <a asp-page="/Index" class="chosen">Priority</a>
              <a asp-page="/Inbox">Inbox</a>
              <a asp-page="/Index" asp-route-nav="1">Projects</a>
              @*<a role="button" asp-page="/Index" action="@showRightNavP">Projects</a>*@
              <a asp-page="/Index" asp-route-nav="2">Categories</a>
              @*<a asp-page="/Index" asp-route-nav="2">Categories</a>*@
              @*<a>Calendar</a>*@
          </div>
          <div class="rightnavbar">
            @*@if (navp)*@
            @if (Model.wantProjects)
            {
                <div class="navcolumnname">
                    <span>Projects</span>
                </div>
                @foreach (var item in Model.ProjectsList)
                {
                    <a asp-page="/Project" asp-route-id="@item.Id">@item.ProjectName</a>
                }
            }
            @if (Model.wantCategories)
            {
              <div class="navcolumnname">
                  <span>Categories</span>
              </div>
              @foreach (var item in Model.CategoriesList)
                {
                    <a asp-page="/Category" asp-route-id="@item.Id">@item.CategoryName</a>
                }
            }
          </div>
    </div>
</header>



<div class="bigwindow">
<div class="mainlist">
        <div class="columnname">
              <span>Priority</span>
              @*<div class="i"></div>*@
        </div>
        <div class="listlines @(Model.details == null ? "fullview" : "")">
            <div class="add">
                <div class="textline">
                    <form method="post">
                        <input type="text" class="inputtext" name="taskname" placeholder="Enter task name" >
                        <button asp-page-handler="Add" class="i">+</button>
                    </form>
                </div>
            </div>
            @foreach (var item in Model.PriorityList) {
                <div class="row @(item.IsDone ? "completed" : "")">
                    <form method="post">
                        <input type="hidden" name="upd" value="d"/>
                        <input type="hidden" name="id" value="@item.Id"/>
                    <button asp-page-handler="Update" class="done">
                                <span class="circle @(item.IsDone ? "checkmark" : "")">
                                @if(item.IsDone){
                                <p>&#10003;</p>
                                }
                                </span>
                        </button>
                    </form>
                    <a asp-page="/Index" asp-route-id="@item.Id">@item.TaskName</a>
                    <form method="post">
                        <input type="hidden" name="upd" value="s"/>
                        <input type="hidden" name="id" value="@item.Id"/>
                    <button  asp-page-handler="Update" class="starbutton">
                                <span class="circle star @(item.IsUrgent ? "urgent" : "")"></span>
                            </button>
                    </form>
                </div>
            }
        </div>
        @if(Model.details != null)
        {
            <div class="details">
                TEST
            </div>
        }
        <div class="columnname bottom">
              <span>@Model.PriorityList.Where(t => t.IsDone == false).Count() left</span>
              <div class="i">+</div>
        </div>

</div>

</div>
