@page
@model ToDoList.Pages.IndexModel

<header>
    <div class="navbar">
          <div class="leftnavbar">
              <a asp-page="/Index" class="chosen">Priority</a>
              <a asp-page="/Inbox">Inbox</a>
              <a asp-page="/Index" asp-route-nav="1">Projects</a>
              <a asp-page="/Index" asp-route-nav="2">Categories</a>
              @*<a>Calendar</a>*@
          </div>
          <div class="rightnavbar">
            @if (Model.wantProjects)
            {
                <div class="navcolumnname">
                    <span>Projects</span>
                </div>
                @foreach (var item in Model.ProjectsList)
                {
                    <a asp-page="/Project" asp-route-id="@item.Id">@item.ProjectName</a>
                }
            }
            @if (Model.wantCategories)
            {
              <div class="navcolumnname">
                  <span>Categories</span>
              </div>
              @foreach (var item in Model.CategoriesList)
                {
                    <a asp-page="/Category" asp-route-id="@item.Id">@item.CategoryName</a>
                }
            }
          </div>
    </div>
</header>



<div class="bigwindow">
<div class="mainlist">
    <div class="listlines">
        <div class="columnname">
              <span>Priority</span>
              @*<div class="i"></div>*@
        </div>

        @foreach (var item in Model.PriorityList) {
            <div class="row">
                <div class="circle">
                </div>
                  <a asp-page="/Project">@item.TaskName</a>
                  <a class="star" asp-route-done="change" type="checkbox"></a>
            </div>
        }

        <div class="columnname bottom">
              <span>@Model.ProjectsList.Count() left</span>
        </div>
    </div>


   @*<tbody>
@foreach (var item in Model.PriorityList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
                @*<p>@item.TaskName</p>*@
           @* </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenToDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUrgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
</tbody>
</table>*@
</div>

</div>
